{% load static %}
{% load thumbnail %}
<div class="col-lg-4 col-12">
    <div class="gt-main-sideber sticky-style">
        {% if category %}
            <div class="gt-single-sideber-widget">
                <div class="gt-widget-title">
                    <h3>دسته بندی ها</h3>
                </div>
                <ul>
                    {% for cat in category %}
                        <li><a href="{% url 'product_by_category' cat.slug %}">{{ cat.title }}</a><span>({{ cat.count }})</span></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if latest_products %}
            <div class="gt-single-sideber-widget">
                <div class="gt-widget-title">
                    <h3>محصولات اخیر</h3>
                </div>
                {% for latest_product in latest_products %}
                    <div class="gt-recent-post-area">
                        <div class="gt-recent-items">
                            <div class="gt-recent-thumb">
                                {% thumbnail latest_product.image '80x80' crop="center" as im %}
                                    <img src="{{ im.url }}" alt="img">
                                {% endthumbnail %}
                            </div>
                            <div class="gt-recent-content">
                                <h6><a href="{% url 'product_detail' latest_product.slug %}">{{ latest_product.title | truncatechars:50 }}</a></h6>
                                <ul>
                                    <li>{{ latest_product.created_at }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        {% endif %}
        <div class="gt-contact-bg bg-cover"
             style="background-image: url({% static 'shared/img/inner-page/match-details/bg.jpg' %});">
            <div class="gt-contact-content">
                <h3>نیاز به کمک دارید؟</h3>
                <p>نیاز به کمک دارید؟ با ما تماس بگیرید – پشتیبانی کامل </p>
                <div class="gt-contact-item">
                    <div class="gt-icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <ul class="gt-list">
                        <li><span>تماس با ما:</span></li>
                        <li><a href="tel:+989374641310">09374641310</a></li>
                    </ul>
                </div>
                <div class="gt-contact-item">
                    <div class="gt-icon">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <ul class="gt-list">
                        <li><span>ایمیل ما</span></li>
                        <li><a href="mailto:arshia21420@gmail.com">
                            arshia21420@gmail.com
                        </a></li>
                    </ul>
                </div>
                <div class="gt-contact-item mb-0">
                    <div class="gt-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <ul class="gt-list">
                        <li><span>لوکیشن:</span></li>
                        <li><a href="https://maps.app.goo.gl/wL56S6YT7mJQfGdN9">ایران تهران سلسبیل</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>