{% extends 'account_module/base.html' %}
{% block title %}بازیابی کلمه عبور{% endblock %}
{% load static %}
{% block content %}
    <div class="limiter">
        <div class="container-login100"
             style="background-image: url('{% static 'account_module/images/pricing-bg.jpg' %}');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" autocomplete="off" novalidate method="post"> {% csrf_token %}
                    <span class="login100-form-title p-b-49">
						بازیابی کلمه عبور
                    </span>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if reset_password_form.email.errors or reset_password_form.password.errors %}
                        <div class="alert alert-danger">
                            {{ reset_password_form.email.errors }}
                        </div>
                    {% endif %}

                    <div class="wrap-input100 {% if reset_password_form.password.errors or login_form.password.errors %}shake{% endif %}">
                        <span class="label-input100">{{ reset_password_form.password.label_tag }}</span>
                        {{ reset_password_form.password }}
                    </div>
                    <div class="wrap-input100 {% if reset_password_form.confirm_password.errors or login_form.confirm_password.errors %}shake{% endif %}">
                        <span class="label-input100">{{ reset_password_form.confirm_password.label_tag }}</span>
                        {{ reset_password_form.confirm_password }}
                    </div>
                    <div class="container-login100-form-btn mt-4">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                بازیابی
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
{% endblock %}