{% extends 'shared/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}خانه{% endblock %}
{% block content %}
    <!-- GT About Section Start -->
    <section class="gt-about-section fix section-padding rtl">
        <h2 class="text">
            ارشیا <br>
            صمیمی فر
        </h2>
        <div class="left-shape">
            <img src="{% static 'shared/img/home-1/about/shape-1.png' %}" alt="img">
        </div>
        <div class="container">
            <div class="gt-about-wrapper">
                <div class="row g-4">
                    <div class="col-lg-10">
                        <div class="gt-about-content">
                            <div class="gt-section-title mb-0">
                                <h6 class="wow fadeInUp">ارشیا صمیمی فر</h6>
                                <h2 class="wow fadeInUp rtl" data-wow-delay=".3s">
                                    سوابق کاری<br>
                                    <span>من</span>
                                </h2>
                            </div>
                            <p class="gt-about-text wow fadeInUp rtl" data-wow-delay=".5s">
                                از آنجاییکه به برنامه نویسی خیلی علاقه داشتم، بعد از دریافت مدرک کارشناسی کامپیوتر بصورت
                                خودآموز شروع به برنامه نویسی و یادگیری در این خصوص کردم. بسیار مشتاق رشد و توسعه مهارت
                                های خودم می باشم و برای این منظور بدنبال استفاده از تجربیات افرادی با مهارت های بالاتر
                                هستم یک سال سابقه در شرکت زیتل به عنوان کارشناس نصب اینترنت tdlte و بعد از آن سابقه در
                                شرکت هلدینگ گروه اقتصادی تاو به عنوان پشتیبان فنی IT (Help Desk) مشغول به کار هستم و
                                تجربه کسب کردم. بسیار پرتلاش، خلاق و یادگیرنده هستم و فرصتی را برای رشد از دست نخواهم
                                داد.
                            </p>
                            <div class="gt-about-box-wrapper  wow fadeInUp" data-wow-delay=".3s">
                                <div class="gt-about-box-item">
                                    <div class="gt-about-box bg-color">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-1.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>توسعه بک‌ اند</h5>
                                            <p>
                                                طراحی و پیاده‌سازی منطق سمت سرور با استفاده از Django و DRF
                                            </p>
                                        </div>
                                    </div>
                                    <div class="gt-about-box border-none">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-2.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>توسعه فرانت اند</h5>
                                            <p>
                                                طراحی صفحات استاتیک و ریسپانسیو با استفاده از HTML5 و CSS3 و flexbox
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gt-about-box-item">
                                    <div class="gt-about-box">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-3.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>پشتیبانی فنی</h5>
                                            <p>
                                                تجربه‌ی پاسخ‌گویی به کاربران و رفع مشکلات نرم‌افزاری و شبکه‌ای
                                            </p>
                                        </div>
                                    </div>
                                    <div class="gt-about-box border-none bg-color">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-4.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>مستندسازی و آموزش</h5>
                                            <p>
                                                تولید مستندات فنی و آموزش تیم برای استفاده از سیستم‌ها
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Marque Section Start -->
    <div class="gt-marque-section">
        <div class="overlay-shape">
            <img src="{% static 'shared/img/home-1/overlay.png' %}" alt="img">
        </div>
        <div class="marquee-text-slider-3 style-11">
            <div class="swiper marquee-text-slider">
                <div class="swiper-wrapper slide-transtion">
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">a backend developer experienced in Django with a passion for UI using HTML/CSS.</span>
                            <span><img src="{% static 'shared/img/home-1/circle.png' %}" alt="img"></span>
                        </div>
                    </div>
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">Arshia Samimifar</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="marquee-text-slider-3 style-12">
            <div dir="rtl" class="swiper marquee-text-slider-2">
                <div class="swiper-wrapper slide-transtion">
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">توسعه‌دهنده‌ی بک‌اند با تجربه در Django و علاقه‌مند به رابط کاربری با HTML/CSS</span>
                            <span><img src="{% static 'shared/img/home-1/circle.png' %}" alt="img"></span>
                        </div>
                    </div>
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">ارشیا صمیمی فر</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GT Game-bg Section Start -->
    <section class="gt-game-bg-section fix bg-cover"
             style="background-image: url({% static 'shared/img/home-1/game/b1.jpg' %});">
        <div class="text-shape">
            <img src="{% static 'shared/img/home-1/game/text.png' %}" alt="img">
        </div>
        <div class="container">
            <div class="gt-gaming-bg-wrapper rtl">
                <div class="row g-4 justify-content-between">
                    <div class="col-lg-5">
                        <div class="gt-games-content">
                            <h6 class="text-white wow animated-image"> بخش وبلاگ من
                            </h6>
                            <h2 class="text-white wow animated-image">
                                مقالات جدید<br>


                            </h2>
                            <div class="gt-button wow animated-image">
                                <a href="{% url 'article_list' %}" class="gt-theme-btn">
                                    مشاهده
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="gt-games-content style-2">
                            <h6 class="text-white wow animated-image">بخش تماس با من</h6>
                            <h2 class="text-white wow animated-image">
                                با من درتماس باشید
                            </h2>
                            <div class="gt-button gt-style-2 wow animated-image">
                                <a href="{% url 'contact' %}" class="gt-theme-btn-blue">
                                    مشاهده
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- GT News Section Start -->
    <section class="gt-news-section section-padding fix rtl">
        <div class="container">
            <div class="gt-section-title-area rtl">
                <div class="gt-section-title-2">
                    <h6 class="wow fadeInUp">آخرین اخبار</h6>
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                        جدیدترین اخبار و بلاگ
                    </h2>
                </div>
                <a href="{% url 'article_list' %}" class="gt-theme-btn">
                    همه پست ها
                </a>
            </div>
            <div class="row">
                {% for article in articles %}
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                        <div class="gt-news-card-item rtl">
                            <div class="gt-news-image">
                                {% thumbnail article.image "390x201" crop='center' as im %}
                                    <a href="{% url 'article_detail' article.slug %}">
                                        <img src="{{ im.url }}" alt="img">
                                    </a>
                                {% endthumbnail %}
                            </div>
                            <div class="gt-news-content">
                                <ul class="gt-list">
                                    <li>
                                        <i class="fa-regular fa-calendar"></i>
                                        {{ article.created_at.date }}
                                        <i class="fa-regular fa-clock"></i>
                                        {{ article.created_at.time }}
                                    </li>
                                </ul>
                                <h4>
                                    <a href="{% url 'article_detail' article.slug %}">
                                        {{ article.title | truncatechars:50 }}
                                    </a>
                                </h4>
                                <p>
                                    {{ article.body | truncatechars:210 }}
                                </p>
                                <a href="{% url 'article_detail' article.slug %}" class="icon"><i
                                        class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- GT News Section Start -->
    <section class="gt-cta-bg-section fix bg-cover"
             style="background-image: url({% static 'shared/img/home-1/cta/cta-bg-1.jpg' %});">
        <div class="container rtl">
            <div class="gt-cta-bg-wrapper">
                <div class="shape float-bob-y">
                    <img src="{% static 'shared/img/home-1/cta/shape-1.png' %}" alt="img">
                </div>
                <div class="row g-4">
                    <div class="col-lg-7">
                        <div class="gt-cta-content">
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">
                                به جمع نویسندگان بپیوندید <br>
                                و امروز تبدیل به نویسنده حرفه‌ای بعدی شوید!
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="gt-right-image">
                            <a href="{% url 'contact' %}" class="gt-theme-btn wow fadeInUp" data-wow-delay=".5s">
                                به جمع ما بپیوندید
                            </a>
                            <div class="gt-cta-image wow animated-image">
                                <img src="{% static 'shared/img/home-1/cta/man.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}