{% extends 'shared/base.html' %}
{% load static %}
{% load render_partial %}
{% load custom_filters %}
{% load thumbnail %}
{% block title %}فروشگاه{% endblock %}
{% block banner_title %}بهترین محصولات ما را ببینید !{% endblock %}
{% block banner_body %}برترین محصولات از همه دسته‌بندی‌ها{% endblock %}
{% block content %}
    <!-- GT Shop Section Start -->
    <section class="gt-shop-section section-padding fix">
        <div class="container rtl">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="alert alert-dark">دسته بندی : ({{ category.title }})</div>
                    {% if not category.products.count %}
                        <div class="alert alert-warning text-center my-5 py-4 fs-4 rounded-3 shadow">
                            هیچ محصولی در این دسته‌بندی وجود ندارد!
                        </div>
                    {% endif %}
                    <div class="row g-4">
                        {% for product in products %}
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="gt-shop-card-item gt-style-2 mt-0">
                                    {#<span>25 درصد تخفیف</span>#}
                                    <div class="gt-shop-image">
                                        {% thumbnail product.image "230x175" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                        <ul class="gt-shop-icon d-grid justify-content-center align-items-center">
                                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                                            <li><a href="#"><i class="far fa-shopping-cart"></i></a></li>
                                            <li>
                                                <button data-bs-toggle="modal" data-bs-target="#exampleModal2"><i
                                                        class="far fa-eye"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="gt-shop-content">
                                        <h4>
                                            <a href="{% url 'product_detail' product.slug %}">{{ product.title | truncatechars:20 }}</a>
                                        </h4>
                                        <p>قیمت: {{ product.price|intcomma }}</p>
                                        <p>ريال</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- صفحه‌بندی -->
                    {% if is_paginated %}
                        <div class="gt-page-nav-wrap pt-5 text-center">
                            <ul>
                                {% if page_obj.has_previous %}
                                    <li><a class="gt-page-numbers" href="?page={{ page_obj.previous_page_number }}"><i
                                            class="fa-solid fa-chevron-right"></i></a></li>
                                {% endif %}
                                {% for page_number in paginator.page_range %}
                                    <li>
                                        <a class="gt-page-numbers {% if page_obj.number == page_number %}active{% endif %}"
                                           href="?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a class="gt-page-numbers" href="?page={{ page_obj.next_page_number }}"><i
                                            class="fa-solid fa-chevron-left"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <!-- سایدبار (چپ) -->
                {% render_partial 'shop_module.views.product_sidebar' %}
            </div>
        </div>
    </section>
{% endblock %}
